body {
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: #1a1a1a;
    border: 1px solid white;
    border-radius: 23px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: white;
    margin-bottom: 11px;
    width: 50%;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: #1a1a1a;
    border: 1px solid white;
    border-radius: 2px;
    border-radius: 23px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

.search-dropdown {
  .ant-select-item {
    position: relative;
    display: block;
    min-height: 32px;
    padding: 5px 12px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
    background-color: #1a1a1a;
    color: #fff;
  }
}
