body {
  /*Overwrite ant design menu bar*/
  .ant-layout-sider {
    position: relative;
    min-width: 0;
    background: #505050;
    transition: all 0.2s;
  }
  .ant-menu.ant-menu-dark,
  .ant-menu-dark .ant-menu-sub,
  .ant-menu.ant-menu-dark .ant-menu-sub {
    color: rgba(255, 255, 255, 0.65);
    background: #505050;
  }

  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #1890ff;
  }

  /*Overwrite ant design collapse bar*/
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 12px 16px;
    color: white;
    line-height: 1.5715;
    cursor: pointer;
    transition: all 0.3s, visibility 0s;
    background-color: #1a1a1a;
  }

  .ant-collapse-content {
    color: #fff;
    background-color: #505050;
    border-top: none;
  }

  /*Overwrite ant design Upload styling*/
  .ant-upload-drag-icon {
    background-color: #505050;
    color: #fff;
  }

  .ant-upload {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', 'tnum';
    outline: 0;
    background-color: #505050;
  }

  .ant-upload-drag-icon {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    background: #505050;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: border-color 0.3s;
  }

  .ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon {
    color: #fff;
    font-size: 48px;
  }

  /*Overwrite ant design Card styling(Displays notification messages in numbers)*/
  .ant-badge-count,
  .ant-badge-dot,
  .ant-badge .ant-scroll-number-custom-component {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    transform-origin: 100% 0%;
    margin-right: -51px;
    margin-top: 7px;
  }

  .ant-badge {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', 'tnum';
    position: relative;
    display: inline-block;
    line-height: 1;
  }

  /*Overwrite ant design Card styling*/
  .ant-card {
    box-sizing: border-box;
    margin: 20px;
    padding: 0;
    color: white;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', 'tnum';
    position: relative;
    background: #1a1a1a;
    border-radius: 2px;
  }
  .ant-card-body {
    padding: 0px;
  }

  .ant-card-head-title {
    display: inline-block;
    flex: 1 1;
    padding: 16px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
  }
}

/*Company Logo styling on the sidebar*/
.logo {
  height: 132px;
  margin: 18px;
  background-image: url(../../../public/Images/panda.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 80%;
}

/*Legacy Icon styling*/
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0s;
  color: #fff;
  float: right;
}

.trigger:hover {
  color: #1890ff;
  float: 'right';
  margin: 'auto';
}

/* Notification Icon styling*/
.notification-icon {
  color: 'red';
}

/*Layout Styling*/
.layout-styling-collapsed {
  margin-left: 80px;
  padding-top: 10px;
  background-color: #1a1a1d;
}

.layout-collapsed {
  margin-left: 200px;
  padding-top: 10px;
  background-color: #1a1a1d;
}

/*Content Styling*/
.content-styling {
  padding-top: 0px;
  padding-left: 10px;
  min-height: 780px;
  background-color: #1a1a1d;
}
